<h2>Template-driven form experiment</h2>
<form #contactForm="ngForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" #fname="ngModel" [(ngModel)]="contact.firstname">
    </p>
   
    <p>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" [(ngModel)]="contact.lastname">
    </p>
    
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" [(ngModel)]="contact.email">
    </p>
   
    <p>
      <label for="gender">Gender</label>
      <input type="radio" value="male" id="gender" name="gender" [(ngModel)]="contact.gender"> Male
      <input type="radio" value="female" id="gender" name="gender" [(ngModel)]="contact.gender"> Female
    </p>
   
    <p>
      <label for="isMarried">Married</label>
      <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contact.isMarried">
    </p>
   
    <p>
    <label for="country">country </label>
    <select name="country" id="country" [(ngModel)]="contact.country">
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
    </p>
    
    <div ngModelGroup="address">
 
        <p>
          <label for="city">City</label>
          <input type="text" name="city" ngModel>
        </p>
     
        <p>
          <label for="street">Street</label>
          <input type="text" name="street" ngModel>
        </p>
        <p>
          <label for="pincode">Pin Code</label>
          <input type="text" name="pincode" ngModel>
        </p>
     
    </div>

    <p>
      <button type="submit">Submit</button>
    </p>
    <p>
        <button type="button" (click)="changeCountry()">Change Country</button>
        <button type="button" (click)="setDefaults()">Set Defaults</button>
        <button type="button" (click)="patchValue()">Patch Value</button>
        <button type="button" (click)="changeAddress()">Change Address</button>
        <button type="button" (click)="reset()">Reset</button>
        <button type="button" (click)="resetForm()">Reset Form</button>
        </p>
    <pre>Value    : {{fname.value}} </pre>
<pre>valid    : {{fname.valid}} </pre>
<pre>invalid  : {{fname.invalid}} </pre>
<pre>touched  : {{fname.touched}} </pre>
<!--
    <pre>Value : {{contactForm.value | json }} </pre>
    <pre>Valid : {{contactForm.valid}} </pre>
    <pre>Touched : {{contactForm.touched  }} </pre>
    <pre>Submitted : {{contactForm.submitted  }} </pre>
    -->
  </form>
