<h2>Template-driven form experiment</h2>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
 
    <p>
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" ngModel>
    </p>
   
    <p>
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" ngModel>
    </p>
   
    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" ngModel>
    </p>
   
    <p>
      <label for="gender">Gender</label>
      <input type="radio" value="male" id="gender" name="gender" ngModel> Male
      <input type="radio" value="female" id="gender" name="gender" ngModel> Female
    </p>
   
    <p>
      <label for="isMarried">Married</label>
      <input type="checkbox" id="isMarried" name="isMarried" ngModel>
    </p>
   
    <p>
    <label for="country">country </label>
    <select name="country" id="country" ngModel>
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
    </p>
   
    <p>
      <button type="submit">Submit</button>
    </p>
   
  </form>
